In [6]:
import pandas as pd
import numpy as np
import os

In [45]:
cik_df = pd.read_excel("CIK-list.xlsx")
cik_df

                             Fund Name      CIK
0              40 NORTH MANAGEMENT LLC  1539436
1      ABRAMS CAPITAL MANAGEMENT, L.P.  1358706
2         ACADIAN ASSET MANAGEMENT LLC   916542
3    ADAGE CAPITAL PARTNERS GP, L.L.C.  1165408
4            ADVENT CAPITAL MANAGEMENT  1097278
..                                 ...      ...
288     WOLVERINE ASSET MANAGEMENT LLC  1279891
289               WOODLINE PARTNERS LP  1784547
290       YACKTMAN ASSET MANAGEMENT LP   905567
291        ZACKS INVESTMENT MANAGEMENT  1086483
292                ZIMMER PARTNERS, LP  1565854

[293 rows x 2 columns]

In [46]:
cwd = os.getcwd()

In [49]:
for i in range(0,len(cik_df['CIK'])):
    cik = str(cik_df.loc[i,'CIK'])
    path = cwd+r'\\Data\\{0}'.format(cik)
    df_details = path + f'\\{cik}_df_details.csv' 
    df_HF = path + f'\\{cik}_df_HF.csv'
    stock_df = path + f'\\{cik}_stocks_df.csv'

    if os.path.exists(df_details):
        df_details = pd.read_csv(df_details, index_col=0)
        sum_status = sum(df_details["Status_main"]) + sum(df_details["Status_table"])
        if sum_status == 0:
            cik_df.loc[i,'df_details'] = 1
        else:
            cik_df.loc[i,'df_details'] = 0
    else:
        cik_df.loc[i,'df_details'] = 0
       
    if os.path.exists(df_HF):
        df_HF = pd.read_csv(df_HF, index_col=0)
        if len(df_HF)>1:
            cik_df.loc[i,'df_HF'] = 1
            
        else:
            cik_df.loc[i,'df_HF'] = 0
    else:
        cik_df.loc[i,'df_HF'] = 0
        
    
    
    if os.path.exists(stock_df):
        cik_df.loc[i,'stock_df'] = 1
        
    else:
        cik_df.loc[i,'stock_df'] = 0

In [43]:
cik_df

                             Fund Name      CIK  df_details  df_HF  stock_df
0              40 NORTH MANAGEMENT LLC  1539436         1.0    1.0       1.0
1      ABRAMS CAPITAL MANAGEMENT, L.P.  1358706         1.0    1.0       1.0
2         ACADIAN ASSET MANAGEMENT LLC   916542         1.0    1.0       1.0
3    ADAGE CAPITAL PARTNERS GP, L.L.C.  1165408         1.0    1.0       1.0
4            ADVENT CAPITAL MANAGEMENT  1097278         1.0    1.0       1.0
..                                 ...      ...         ...    ...       ...
288     WOLVERINE ASSET MANAGEMENT LLC  1279891         1.0    1.0       1.0
289               WOODLINE PARTNERS LP  1784547         1.0    1.0       1.0
290       YACKTMAN ASSET MANAGEMENT LP   905567         1.0    1.0       1.0
291        ZACKS INVESTMENT MANAGEMENT  1086483         1.0    1.0       1.0
292                ZIMMER PARTNERS, LP  1565854         1.0    1.0       1.0

[293 rows x 5 columns]

In [48]:
cik_df.to_excel('check-cik.xlsx')